header {
    display: flex;
    justify-content: space-between;
    padding: 43px 0;
    margin-bottom: 40px;
}

.nav_list {
    display: flex;
    align-items: start;
    gap: 40px;
}

.nav_list a {
    font-size: 1.185vw;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.nav_list a:hover {
    color: #118DA8;
}