header {
    display: flex;
    justify-content: space-between;
    padding: 43px 0;
    margin-bottom: 40px;
}

.nav_list {
    display: flex;
    align-items: start;
    gap: 40px;
}

.nav_list li {
    font-size: 1.185vw;
    cursor: pointer;
}

.nav_list li:hover {
    color: #118DA8;
}