.button {
  background: #118da8;
  border-radius: 6px;
  border: none;
  color: #fff;
  padding: 12px 15px 12px 20px;
  cursor: pointer;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  outline: none;
}
